@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
}
body{
    background-color: black;
    color: white;
    position: relative;
}
div.bloco1 h1{
    font-size: 7vh;
    font-weight: bolder;
    text-decoration: underline;
    color: purple;
}
div.bloco1{
    position: absolute;
    left: 6.5%;
    top: 100px;
}
div.bloco1 p{
    text-align: center;
    padding-top: 20px;
}
div.bloco2{
    position: absolute;
    top: 150px;
}
.login{
    margin: 18px 10px 10px 10px;
    padding: 5px;
    background-color: black;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom:   1px  solid purple;
    color: purple;
}
.login:hover::placeholder{
    display: none;
}
.login::placeholder{
    color: purple;
}
.submit{
    margin-top: 40px;
    padding: 7px;
    color: white;
    border-radius: 4px;
    background-color: purple;
    border: 1px solid rgb(53, 0, 53);
}
.submit:hover{
    background-color: rgb(53, 0, 53);
    color: purple;
}
label:hover{
    color: purple;
    text-decoration: underline;
    font-weight: normal;
}