@charset "UTF-8";



:root{
    --cor1:#030329;
    --cor2:#101063;
    --cor3:#282879;
    --cor4:#545492;
    --cor5:#8080fc;
    --cor6:#ffffff;

    --font-ger: font-family: 'Oswald', sans-serif;
    --font-titu: font-family:'Sigmar', cursive;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Menu superior */

header{
    height: 130px;
    width: 100%;
    background-image: linear-gradient(to bottom left, var(--cor2), var(--cor1)); 
    box-shadow: 2px 0px 5px var(--cor1);  
}

#titulo__site{
    color: var(--cor6);
    font-family: 'Sigmar', cursive;
    text-shadow: -2px 2px 5px var(--cor2);
    color: var(--cor5);
}

header menu{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    
}

nav{
    align-self: flex-start;
}

.menu__items{
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    margin-left: 15px;
    gap: 15px;
}

.menu__items li{
    background-color: var(--cor5);
    padding: 3px 8px;
    border-radius: 25px;
    box-shadow: -2px 2px 5px black;
    font-size: 13px;
    font-family: var(--font-ger);
    font-weight: bolder;
}


a{
    text-decoration: none;
    color: var(--cor2)
    
}

/* corpo */

main{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

section{
    padding: 30px;
    display: flex;
    justify-content: center;
    background-image: url(../imagem/img03.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

section p{
    font-family: var(--font-ger);
    font-size: 10px;
    color: white;
    white-space: break-spaces;
}

.img__texto{
    width: 150px;
    flex-basis: 200px;
}

/*Rodapé*/

footer{
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--cor4);
    color: white;
}