@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --cor1: #e6cc39;
    --cor2: #dec221;

    --cor3: #50e1e6;

    --cor4: #e622a7;
    --cor5: #991f72;

    --fonte-titulo: 'Bungee Spice', cursive;
    --fonte-principal: 'Roboto Condensed', sans-serif;
}
body{
    width: 96vw;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
header{
    height: 120px;
    width: 100vw;

    background-color: var(--cor3);
    position: relative;
}
header nav{
    position: absolute;
    top: 75%;
}
header > h1{
    font-family: var(--fonte-titulo);
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    font-size: 3vw;
}
header > p{
    text-align: center;
    font-size: 1em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
    padding: 6.5px;
}
header a{
    padding: 5px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 3px;
}
header a:hover{
    transition-duration: 0.5s;
    background-color: #3a989b;
    border-radius: 5px;
}
main{
    background-color: var(--cor2);
    padding: 10px 5px 10px 5px;
    width: 100vw;
}
section{
    background-color: white;
    width: 80vw;
    padding: 5px;
    margin: auto;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
}
article{
    padding: 5px;
    margin: 0px 5px 5px 5px;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    background-color: var(--cor4);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    font-family: var(--fonte-principal);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
}
article h1{
    font-size: 2em;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor5), transparent);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
article input{
    background-color: #d379b6;;
    padding: 5px;
    margin: 3px;
    border: 0px solid white;
    border-radius: 15px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514)
}
article label{
    font-size: 2.5vh;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}
article label:hover{
    text-decoration: underline;
}
article ::placeholder{
    color: lightgrey;
}
article p{
    padding: 7px;
}
article fieldset{
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--cor5);
    margin: 5px;
}
article .label{
    padding: 10px;
    font-weight: bolder;
}
article select{
    background-color: #d379b6;
    border-radius: 10px;
    padding: 5px;
    box-shadow: inset 1px 1px 2px black;
}
article textarea{
    background-color: #d379b6;
    color: white;
    border-radius: 10px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.548);
}
article ::-webkit-file-upload-button{
    border-radius: 10px;
    border: 0px solid white;
    background-color: var(--cor5);
    color: white;
    padding: 5px;
}
article ::-webkit-file-upload-button:hover{
    background-color: #dec221;
    color: var(--cor4);
}
footer{
    width: 100vw;
    height: 30px;
    background-color: var(--cor5);
    text-align: center;
    color: white;
}
footer p{
    padding-top: 7px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
 color: rgb(71, 2, 71);
 transition-duration: 0.7s;
}