@charset "UTF-8";

body{
    background-color: rgb(175, 247, 175);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(81, 148, 81);
}
h2{
    color: rgb(92, 131, 92);
}
h1#titulo-principal{
    background-color: #50bb7c;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    
}
.basico{
    background-color: #abbb5080;
    
}