@charset "UTF-8";

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
  /* 
      Mobile: 360 x 640
      Mobile: 375 x 667
      Mobile: 360 x 720
      iPhone X: 375 x 812
      Pixel 2: 411 x 731
      Tablet: 768 x 1024
      Laptop: 1366 x 768
      High-res laptop or desktop: 1920 x 1080
  */
  
  *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: 'Courier New', Courier, monospace;
  }
  :root{
      --cor1: rgb(53, 0, 53);
  
      --cor2: #D540D5;
      --cor3: #cc00cc;
      --cor4: #990099;
      --cor5: #4D004D;
      --cor6: #0c040c;
  }

  body{
    background-color: var(--cor6);
    background-image: url(../imagens/tela-honeycomb-login.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

 
  

  @media screen and (max-width:1366px) and (min-width:768px) {
  
    section#login{
        border-radius: 5%;
        border: 1px solid var(--cor5);
        width: 40vw;
        height: 40vh;
        position: absolute;
        top: 50vh;
        left: 32vw;
        background-color: #0c040cb4;
        box-shadow: 2px 2px 3px var(--cor1);
    }

    section#login input{
        padding: 5px;
        margin-top: 35px;
        color: var(--cor3);
        background-color: var(--cor6);
        border: 1px solid transparent;
        border-bottom: 1px solid var(--cor4);
        border-radius: 10px;
    }

    section#login section#dados input{
        margin-left: 25%;
    }

    section#login ::placeholder{
        color: var(--cor4);
    }

    section#login > label{
        color: white;
        margin-left: 11vw;
        color: var(--cor4);
        font-family: 'Courier New', Courier, monospace;
    }

    section#envio{
        margin-left: 33%;
        position: absolute;
        top: 20vh;
    }

    input#limpar{
        background-color: var(--cor4);
        padding: 5px;
        border-radius: 10px;
        color: var(--cor4);
        border: 2px solid var(--cor5);
      }
      input#enviar{
        background-color: var(--cor4);
        padding: 5px;
        color: var(--cor4);
        border-radius: 10px;
        border: 2px solid var(--cor5);
      }
    p.cadastro{
        color: var(--cor4);
        margin-top: 75px;
        margin-left: 35%;
        text-shadow: 1px 1px 2px var(--cor5);
    }
    p.esqueci{
        color: var(--cor4);
        margin-left: 32%;
        text-shadow: 1px 1px 2px var(--cor5);
    }
    p > a{
        text-decoration: none;
        color: var(--cor4);
    }
    p > a:hover{
        color: var(--cor3);
        text-decoration: underline;
    }
  }
  @media screen and (max-width:767px) and (min-width:375px) {
    body{
        background-image: url(../imagens/tela-honeycomb-login-tablet.png);
    }

    section#login{
        position: absolute;
        top: 40vw;
        left: 34vw;
        height: 35vh;
        border: 1px solid var(--cor5);
        border-radius: 10px;
        padding: 30px;
    }

    section#dados input{
        padding: 5px;
        background-color: var(--cor6);
        border-radius: 10px;
        margin-top: 5px;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--cor4);
    }

    section#dados input::placeholder{
        color: var(--cor4);
    }

    section#envio{
        margin-left: 2vw;
        margin-top: 5vh;
    }

    input#limpar{
        background-color: var(--cor6);
        padding: 5px;
        border-radius: 10px;
        color: var(--cor4);
        border: 2px solid var(--cor5);
        margin-top: 10px;
      }
      input#enviar{
        background-color: var(--cor6);
        padding: 5px;
        color: var(--cor4);
        border-radius: 10px;
        border: 2px solid var(--cor5);
      }
      input#limpar:hover{
        background-color: var(--cor6);
        color: var(--cor2);
        border: 2px solid var(--cor4);
      }
      input#enviar:hover{
        background-color: var(--cor6);
        color: var(--cor2);
        border: 2px solid var(--cor4);
      }
      p.cadastro{
        color: var(--cor4);
        margin-top: 10px;
        margin-left: 15%;
        text-shadow: 1px 1px 2px var(--cor5);
      }
      p.esqueci{
        color: var(--cor4);
        margin-left: 5%;
        text-shadow: 1px 1px 2px var(--cor5);
      }
      p > a{
        text-decoration: none;
        color: var(--cor4);
    }
    p > a:hover{
        color: var(--cor3);
        text-decoration: underline;
    }

  }