@charset "UTF-8";

/* 
    Mobile: 360 x 640
    Mobile: 375 x 667
    Mobile: 360 x 720
    iPhone X: 375 x 812
    Pixel 2: 411 x 731
    Tablet: 768 x 1024
    Laptop: 1366 x 768
    High-res laptop or desktop: 1920 x 1080
*/

@media screen and (min-width: 768px) and (max-width: 1366px){
    
    body{
        background-color: black;
        height: 100%;
        width: 100%;
    }
    div#menu{
    width: 500px; 
    margin: 0px;
    }
    div#menu img#seta{
        width: 0px;
        border: 0px solid transparent;
        padding: 0px;
        margin: 0px;
    }
    div#menu menu#itens li{
        margin: 20px;
        width: 80px;
    }
    
}