@charset "UTF-8";

/* 
    Mobile: 360 x 640
    Mobile: 375 x 667
    Mobile: 360 x 720
    iPhone X: 375 x 812
    Pixel 2: 411 x 731
    Tablet: 768 x 1024
    Laptop: 1366 x 768
    High-res laptop or desktop: 1920 x 1080
*/

@media screen and (min-width: 768px) and (max-width: 1366px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
    }
    :root{
        --cor1: rgb(53, 0, 53);
    
        --cor2: #D540D5;
        --cor3: #cc00cc;
        --cor4: #990099;
        --cor5: #4D004D;
        --cor6: #0c040c;
    }
    
    body{
        background-color: black;
        height: 100%;
        width: 100%;
        background-image: url(../imagens/tela-honeycomb-mediumsize.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: width .3s, height .3s;
    transition-timing-function: ease;
    }
    div#menu{
    width: 100px; 
    margin: 0px;
    }
    div#menu img#seta{
        width: 0px;
        border: 0px solid transparent;
        padding: 0px;
        margin: 0px;
    }
    div#menu menu{
        display: block;
    }
    div#menu menu#itens li > img{
        margin: 25px;
        width: 70px;
        padding: 10px;
        background-color: var(--cor4);
        border: 1px solid #990099;
        border-radius: 10px;
        border: 2px solid var(--cor5)
    }
    
}