@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --cor1: rgb(53, 0, 53);

    --cor2: #D540D5;
    --cor3: #CC00CC;
    --cor4: #990099;
    --cor5: #4D004D;
    --cor6: #0c040c;

    --fonte-principal: 'Oswald', sans-serif;
    --fonte-honey: 'Anton', sans-serif;
    --fonte-lista: 'Noto Sans Mono', monospace;
}
    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
body,html{
    height: 70vw;
    width: 100%;
    
}
body{
    background-image: url(../imagens/fundo-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    color: white;
    position: relative;
}
main{
    height: auto;
    width: 100%;
    margin: 1vw;
}
main h1{
    font-family: var(--fonte-honey);
    text-align: center;
    
    font-size: 2vw;
    color: var(--cor4);
    text-shadow: 2px 2px 0px var(--cor5);
}
section.areadetrabalho{
    position: absolute;
    height: fit-content;
    width: 43vw;
    left: 20vw;
    background-color: var(--cor6);
    border: 1px solid var(--cor5);
    border-radius: 1%;
    margin-bottom: 30px;
    margin-top: 18px;
    padding: 1vw 1vw;
}
div.lista{
    list-style: inside;
    margin: 1vw;
    border: 1px solid var(--cor5);
    border-radius: 1%;
    height: auto;
    padding: 5px;
    font-size: 1vw;
}
div.lista h2{
    font-family: var(--fonte-principal);
    color: var(--cor4);
    text-shadow: 2px 2px 0px var(--cor5);
    margin: 0.5vw;
    font-size: 2vw;
}
div.lista ul.desafios{
    columns: auto;
}
div.lista li{
    color: var(--cor4);
    padding: .1vw;
    font-family: var(--fonte-lista);
    font-size: 1.4vw;
}
div.lista li > a{
    text-decoration: none;
    color: var(--cor4);
}
div.lista li > a:hover{
    text-decoration: dotted;
    color: var(--cor2);
}
div#praticando iframe{
    position: absolute;
    left: 16vw;
    top: 8vw;
    margin: 1.5vw;
    border: 1px solid var(--cor4);
    border-radius: 2%; 
    width: 20vw;
    height: 13vw;
    background-color: white;
}
div#desafios iframe{
    margin: 1.5vw;
    background-color: white;
    width: 20vw;
    height: 13vw;
    position: absolute;
    top: 35vw;
    left: 16vw;
    border: 1px solid var(--cor4);
    border-radius: 2%; 
}
aside img.fotocolmeia{
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 60vw;
    top: 10vw;
}
aside img.assinatura{
    position: absolute;
    top: 80vw;
    height: 5vw;
    width: 5vw;
    left: 91vw;
}